/* src/components/Login.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% de la altura de la ventana */
  background-color: #f5f5f5; /* Color de fondo suave */
}

.login-card {
  background-color: white;
  padding: 20px;
  border: 2px solid red; /* Delineado rojo */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 300px; /* Ancho fijo para el card */
  display: flex; /* Flexbox para alinear contenido */
  flex-direction: column; /* Colocar elementos en columna */
}

.form-group {
  margin-bottom: 15px; /* Espacio entre los campos del formulario */
}

label {
  display: block; /* Hace que la etiqueta esté en su propia línea */
  margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}

input {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  margin-right: 0; /* Evitar margen a la derecha */
  box-sizing: border-box; /* Incluye padding y border en el ancho */
}

button {
  width: 100%; /* Ancho completo */
  padding: 10px;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  font-size: 16px;
  cursor: pointer; /* Cursor de mano al pasar el mouse */
}

button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

/* Agregar margen para separar el enlace del botón */
.login-container .register-link {
  display: block;
  text-align: center; /* Centrar el texto */
  margin-top: 20px; /* Separación del botón */
  font-size: 14px; /* Tamaño de letra más pequeño */
  color: #007bff; /* Color azul del enlace */
  text-decoration: none; /* Quitar el subrayado */
}

/* Cambio de color al pasar el ratón */
.login-container .register-link:hover {
  color: #0056b3; /* Un azul más oscuro al hacer hover */
}
