/* Estilo para el header */
.header {
  display: flex;
  align-items: center;
  background-color: #007bff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px; /* Altura fija */
  width: 100%;
  position: fixed;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  flex: 1;
  margin-left: 10px;
}

.logout-button {
  background-color: white;
  color: #007bff;
  border: none;
  border-radius: 4px;
  width: 100px;
  margin-right: 10px;
}

.logout-button:hover {
  background-color: #f1f1f1;
}
